.navbar-brand {
  display: flex !important;
  align-items: center !important;
  height: 100%;
  margin: 0;
  padding: 5px;
  transform: translateY(-12px);

}

.navbar-brand img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-name {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-size: 16px;
}
.nav-link {
  transition: all 0.3s ease;
}

#nav-link:hover {
  background-color: rgb(0, 255, 26);
  transform: translateY(-3px);
  border-radius: 10px;
  text-decoration: underline 3px;
  text-underline-offset: 5px;
}

@media (max-width: 991px) {
  .navbar-logo {
    width: 45px;
    height: 45px;
  }

  .logo-name {
    font-size: 12px !important;
    line-height: 1.15;
  }
}